@mixin box() {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  @include box;
  background-color: red;
}

@mixin card($color) {
  width: 100px;
  height: 100px;
  background-color: $color;
}

.card-red {
  @include card(red);
}

@mixin pri-button($width, $height, $radius: 10px) {
  width: $width;
  height: $height;
  border-radius: $radius;
}

.btn {
  @include pri-button(100px, 50px, 20px);
}

//중앙값 비우기
.btn__ {
  @include pri-button(100px, null, $radius: 20px);
}

@mixin one {
  width: 100px;
  height: 100px;
  color: white;
  @content;
}

a {
  @include one {
    background-color: black;
  }
}

@mixin two {
  width: 100px;
  height: 100px;
  color: white;
}

button {
  @include two;
  background-color: black;
}
