body {
  background-color: lightgray;
  margin: 0;
}

.wrapper {
  margin: 10% auto;
  background-color: white;
  border-radius: 30px;
  width: 700px;
  height: 700px;
}

.wrapper .header {
  height: 50px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  font-size: 40px;
  border-left: 10px solid salmon;
  color: salmon;
  padding: 30px;
  box-shadow: 0 5px 100px rgba(1, 1, 1, 0.2);
}

.list li {
  list-style-type: none;
  background-color: white;
  font-size: 25px;
  margin: 35px 0;
  padding: 12px 15px;
  width: 90%;
  border-radius: 10px;
  height: 40px;
  border: 5px solid salmon;
  transition: all 0.3s ease-in-out;
  color: rgba(43, 42, 42, 0.8);
}

.list {
  height: 70%;
  margin: 0;
  padding-left: 30px;
}

li:hover {
  background-color: salmon;
  color: white;
}
