body {
  margin: 0;
  padding: 0;
  background-color: #f0ebf8;
}

.google-form {
  width: 500px;
  margin: 0 auto;
  padding: 20px;
}

.form-header {
  background-color: white;
  border-radius: 5px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-top: 10px solid #673bb7;
  margin-top: 10px;
  height: 110px;
  padding-left: 20px;
  margin-bottom: 15px;
}

.form-header__intro {
  font-size: 12px;
  border-bottom: 1px solid lightgray;
  width: 95%;
  padding-bottom: 10px;
}

.form fieldset {
  border: none;
  background-color: white;
  margin-bottom: 10px;
  border-radius: 5px;
  padding: 30px;
}

.form legend {
  display: none;
}

.form-question {
  font-size: 13px;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 20px;
}

.form label {
  font-size: 12px;
}

.form ul {
  padding-left: 0;
}

.form li {
  list-style-type: none;
}

.first-list li,
.second-list li {
  margin-bottom: 10px;
}
.fieldset1 {
  height: 190px;
}

.fieldset1 input {
  margin-right: 10px;
}

.fieldset2 {
  height: 200px;
  padding-bottom: 20px;
}

.form-footer {
  display: flex;
  justify-content: space-between;
}

.submit {
  background-color: #673bb7;
  color: white;
  border-radius: 5px;
  padding: 5px;
  border: none;
  width: 80px;
  height: 30px;
  margin-top: 10px;
  cursor: pointer;
}

.reset {
  color: #673bb7;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

input[type="text"] {
  border: none;
  border-bottom: 1px solid lightgray;
  width: 100%;
  padding-bottom: 3px;
  font-size: 13px;
}

input[type="text"]:focus {
  outline: none;
}

input[type="checkbox"] {
  box-shadow: inset 0 2px 5px rgb(198, 197, 197);
  margin-right: 10px;
}

.fieldset5 select {
  height: 40px;
  width: 180px;
  border: 1px solid lightgray;
  font-size: 12px;
  border-radius: 3px;
}

.fieldset6 label,
.fieldset7 label {
  display: block;
  color: lightslategray;
  margin-bottom: 10px;
  font-size: 10px;
}

.fieldset6 input,
.fieldset7 input {
  border: none;
  border-bottom: 1px solid lightgray;
}
